<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Train model</title>
    </head>
    <body>
        <form method="POST" enctype="multipart/form-data"> <!--onsubmit="showTime('Cargando datos y capacitando al modelo.')">-->
            <label for="fname">Elija banco de capacitacion:</label>
            <input type="file" id="fname" name="file1"><br><br>
            <input type="submit" value="Cargar Información">
        </form>

        <!--<script src="sweetalert2.all.min.js"></script>
        <script>
            function showTime(msg) {
                let timerInterval
                Swal.fire({
                    title: 'Información!',
                    html: msg,
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: () => {
                        Swal.showLoading()
                        const b = Swal.getHtmlContainer().querySelector('b')
                        timerInterval = setInterval(() => {
                            b.textContent = Swal.getTimerLeft()
                        }, 100)
                    },
                    willClose: () => {
                        clearInterval(timerInterval)
                    }
                }).then((result) => {
                    /* Read more about handling dismissals below */
                    if (result.dismiss === Swal.DismissReason.timer) {
                        console.log('I was closed by the timer')
                    }
                });
            }
        </script>-->
    </body>
</html>
