<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Bot_Uniongr</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    </head>
    <body>
        <div class="container">
            <h1>Bienvenido al Asistente virtual de Uniongr</h1>
            <br>
            <h5>Este Asistente virtual respondera tus cuestiones generales sobre la pagina de Uniongr</h5>
            <!-- TODO: poner los tags a los cuales responde el chatbot para facilitar al usuario la conversacion-->
            <br>
            <hr>

            <div class="row">
                <!-- TODO: crear una etiqueta de presentacion indicando que puede hacer con este chatbot  -->
                <!-- TODO: validar que no se pueda enviar datos vacios-->
                <div class="col-lg-9">
                    <input class="form-control" type="text" name="question" id="question" minlength="4">
                </div>
                <div class="col-lg-3">
                    <button class="btn btn-primary btn-block" id="submit-button">Send</button>
                    <!-- TODO: que el boton reaccione al ENTER  -->
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <p id="response"></p>
                </div>
            </div>

        </div>

        <script src="/static/jquery.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


        <script>
            jQuery(document).ready(function () {
                $("#submit-button").click(function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: "/chatbot",
                        data: {
                            question: $("#question").val()
                        },
                        success: function (result) {
                            /* TODO: que los nuevos textos del historial aparezcan encima del boton y con autoscroll */
                            $("#response").append('<br> <p style="text-align: end;">Person: ' + $("#question").val() + "</p>" + "<br> <p> BOT_Uniongr: " + result.response) + "</p>";
                            $("#question").val("")
                        },
                        error: function (result) {
                            alert('error');
                        }
                    });                    
                });
            });
        </script>

    </body>
</html>
