<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bot_Uniongr</title>
  </head>
  <body>
    <p>
      <br> <p class="human" style="text-align: end;">Person: Hola</p> <br> <p class="bot" > Patico (saludo): Buen dia, como estas?</p>
      <br> <p class="human" style="text-align: end;">Person: Hola</p> <br> <p class="bot" > Patico (saludo): Buen dia, como estas?</p>
      <br> <p class="human" style="text-align: end;">Person: Hola</p> <br> <p class="bot" > Patico (saludo): Buen dia, como estas?</p>
      <br> <p class="human" style="text-align: end;">Person: Hola</p> <br> <p class="bot" > Patico (saludo): Buen dia, como estas?</p>
    </p>    
  </body>
</html>
